@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variable.scss" as v;

.header {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  justify-content: space-between;
}

.profilePanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 0 15px;
  background: rgba(20, 255, 192, 0.05); // Легкий фон в цвет неона
  border: 2px solid v.$neon-primary;
  border-radius: 8px;
  box-shadow:
    0px 0px 10px rgba(20, 255, 192, 0.4),
    inset 0px 0px 5px rgba(20, 255, 192, 0.2);
  color: v.$text;
}

.userName {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: v.$neon-primary;
  border: 1px solid white;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
