@use "../../styles/variable.scss" as v;
@use "../../styles/mixins.scss" as m;

.form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: v.$text;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px v.$neon-primary;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input {
    width: 100%;
    height: 40px;
    padding: 15px 10px;
    outline: none;
    border: 1.5px solid v.$border-input;
    border-radius: 4px;
    color: v.$text;
    transition: background-color 0.3s ease;
    &::placeholder {
      color: v.$text;
      font-weight: 600;
      text-shadow: 2px 2px 4px v.$neon-primary;
    }

    &:focus {
      border-color: v.$neon-primary;
      box-shadow: 0 3px 12px v.$neon-primary;
      background-color: rgb(150, 124, 75);
    }
  }
}

.button {
  @include m.button(
    $bg-color: v.$btn-primary,
    $text-color: v.$text,
    $width: 100%,
    $height: 50px,
    $radius: 6px,
    $font-size: 18px,
    $font-weight: 700,
    $shadow-color: v.$btn-shadow
  );

  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;

  // Additional neon glow on hover
  &:hover:not(:disabled) {
    text-shadow: 0 0 10px v.$neon-primary;
  }
}

.error {
  @include m.error();
}

.link {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: v.$btn-secondary;
  margin-top: 15px;
  cursor: pointer;
}
